/* Header styling */

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

/* Body styling */

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
/* This 100% means that it will take the full width of the card. */
.card > img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
}


.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}

.i1{
    height: 400px;
    width: 400px;
}

.menu {
    display: flex;
}